* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #90d7ff;
  text-align: center;
}
.container {
  height: 70vh;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.game {
  margin-top: 2rem;
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5vmin;
}
.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  font-size: 8vmin;
  color: #7b0828;
  background-color: rgb(242, 205, 116);
}
#reset-btn {
  padding: 1rem;
  font-size: 1rem;
  background-color: #607196;
  color: #e8e9ed;
  border: none;
  border-radius: 1rem;
  font-weight: bolder;
}

.msg-container {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}
#msg {
  color: #607196;
  font-size: 6vmin;
}
#new-gamebtn {
  padding: 1rem;
  font-size: 1rem;
  background-color: #607196;
  color: #e8e9ed;
  border: none;
  border-radius: 1rem;
  font-weight: bolder;
}
.hide {
  display: none;
}
